[package]
name = "merkle-tree"
version = "0.1.0"
edition = "2021"

[dependencies]
sha2 = "0.10"
bytemuck = "1.14"
rand = "0.8"
rayon = "1.10"

[dependencies.serde]
version = "1.0"
features = ["derive"]
optional = true

[features]
default = []
serde = ["dep:serde"]

[dev-dependencies]
rand = "0.8"
